<!DOCTYPE html>
<html lang="Eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">


    <title>Smart Checkout</title>
</head>
<body>
    <div id="container">


     <div id="col2outer">
         <div id="col1" >
             <div class="layer">
                <form action="/add" method = "post">
                     <h3>Budget</h3>
                     <!-- Budget Input -->
                     <input name = "budget" id="budget-input "type="text">
                     <!-- Items Input -->
                     <h3>Items</h3>
                     <input name = "item" id="items-input "type="text">
                     <button class="btn btn-outline-dark" id="add-button">Add</button>
                </form>

                <div id="unordered-listdiv">
                <ul>
                <% for (var i = 0; i < listOfItems.length; i++){%>
                                    
                    
                    <li>  <%= listOfItems[i] %></li>            
                       
                
                <%} %>
                </ul>
                </div>   

           
            <button class="btn btn-outline-dark" id="checkout-button">Checkout</button>
        </div>
    </div>

    <!--     mid-->
    <div id="col2mid">
      <h1>Smart Checkout</h1>

        
    <div id="inner-lists" class="container"> 
    <div id="inner-listrow"class="row">
    <div class="col listcol">
        

        
     <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Walmart_logo.svg/2000px-Walmart_logo.svg.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">milk</li>
    <li class="list-group-item">Dcookies</li>
    <li class="list-group-item">rice</li>
  </ul>
  <div class="card-body">
<p>price</p>
  </div>
</div>   
        
        
        

        
    </div>
    <div class="col listcol">
     <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://freepngimages.com/wp-content/uploads/2016/10/amazon-logo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">milk</li>
    <li class="list-group-item">Dcookies</li>
    <li class="list-group-item">rice</li>
  </ul>
  <div class="card-body">
    <p>price</p>
  </div>
</div>      
    </div>
        
        
        
    <div class="col listcol">

        <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-Costco-Wholesale-Logo-PNG-Transparent.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">milk</li>
    <li class="list-group-item">Dcookies</li>
    <li class="list-group-item">rice</li>
  </ul>
  <div class="card-body">
    <p>price</p>
    </div>
    </div>      
   </div>
  </div>

                    
</div>
</div>




<!--     extras   -->
</div>       
<div id="col2side">
 <p>extras</p>
 <p>Ab quid voluptate a senserit illustriora ab cupidatat ab multos voluptatibus 
     offendit culpa nostrud aut irure ab quamquam. Quis doctrina mentitum do aliqua 
     laboris vidisse, consequat nam mentitum de eu nulla officia doctrina id aut 
     irure concursionibus, occaecat fore anim an tamen, id ingeniis distinguantur, 
     fugiat exquisitaque ullamco cillum incurreret. Mentitum aliqua deserunt 
     incididunt non excepteur quae magna an varias. Probant illum </p>
 </div>
</div>



<div id="footer">

 <p>Copyright © 2018 </p>
</div>
 



<!--<script src="../app.js"></script>-->
</body>
</html>

