html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 font-family: 'Miriam Libre', sans-serif;
 }


/*list items css */
input[type="text"]
{
    width: 90%;
    font-size:100%;
    margin:1%;
    background-color: transparent;
    border-bottom: 3px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    opacity: 0.7;
   
}
#col1{
    
    text-align: center;
    
}




 /* Layout CSS*/   
 #container {
 width: 100%;
 margin: 0 0 0 20px; 
 padding: 0;
 }
 #container h1 {
 margin: 0;
 padding: 0;
 font-size:7vw;
 }
 
 #container #col2outer {
 width: 100%;
 height: 100%;
 float: right;
 margin: 0;
 padding: 0;
 }

#container #col1 {
 width: 20%;
 float: left;
 background-color: red;
 height: 100%;
 }

 #col2outer #col2mid {
 width: 70%;
 float: left;
 background-color: yellow;
 height: 100%;
 }


 #col2outer #col2side {
 width: 10%;
 float: right;
 background-color: blueviolet;
 height: 100%;
 }
 #container #footer {
 float: left;
 width: 100%;
 border-top: #c00 solid 3px;
 }

 /* unordered list CSS*/   
#unordered-listdiv{
    height:750px;
}

/* inner lsit css*/
#inner-listrow{
   
}
.container{
     height: 800px;
}






/*
#middle-container{
   background-color: aqua; 
}

#left-container{
   background-color: red; 
}
#right-container{
   background-color: yellow; 
}
.col {
    float: left;
    padding: 10px;
    
}
.row:after {
  
    display: table;
    clear: both;
    height: 100%;
}
.container{
 width: 870px;
 margin: 0 0 0 20px;  top right bottom left 
 padding: 0;
}*/
