html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 font-family: 'Miriam Libre', sans-serif;
/* overflow: hidden;*/
 background-color:steelblue;
 }

#unordered-listdiv li{
    font-size: 1.5em;
}
/*list items css */
input[type="text"]
{
    width: 90%;
    font-size:100%;
    margin:1%;
    background-color: transparent;
    border-bottom: 3px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    opacity: 0.7;
   
}
#col1{
/*    border-radius: 30px;*/
    text-align: center;
    text-align: center;
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX11089546.jpg);
    position: relative;
    
}

.layer2{
    height: 100%;
/*    border-radius: 30px;*/
    background: linear-gradient(
                     rgba(51,51,204, .8), 
                     rgba(26,178,255, .8));
    

}
.layer{
    height: 100%;
/*    border-radius: 30px;*/
    background: linear-gradient(
                     rgba(26,178,255, .8), 
                     rgba(51,51,204, .8));
   

}





#budget-input{
  
}
#unordered-listdiv{
    text-align: left;
}
.card{
    width: 17rem;
   
}
.card-body{
    
}
.card img{
    height: 80px;
}
form{
    padding-top: 10%;
}

/*button css*/
.btn{
    margin: 4%;
}

 /* Layout CSS*/   
 #container {
 width: 100%;
 margin: 0 0 0 20px; 
 padding: 0;
 }
 #container h1 {
 margin: 0;
 padding: 0;
 font-size:7vw;
 }
 
 #container #col2outer {
 width: 100%;
 height: 100%;
 float: right;
 margin: 0;
 padding: 0;
 }

#container #col1 {
 width: 20%;
 float: left;
/* background-color: red;*/
 height: 100%;
 }

 #col2outer #col2mid {
 width: 70%;
 float: left;
 height: 100%;
 background-image: url(images/groceries.jpg);
/* border-radius: 30px;*/

 }


 #col2outer #col2side {
 width: 10%;
 float: right;
 background-color: rgba(51,51,204, .8);
 height: 100%;
/* border-radius: 30px;*/
 }


 #container #footer {
 float: left;
 width: 100%;
 border-top: #c00 solid 3px;
 }

 /* unordered list CSS*/   
#unordered-listdiv{
    height:100%;
}

.ScrollStyle
{
    max-height: 70%;
    overflow-y: scroll;
}

/* inner lsit css*/
#inner-listrow{
   
}
.container{
     height: 100vh;
}

/*wheater css*/

.wheater{
   height: 185px; 
    
}
/*slide show cc*/
#slideshow {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.slide-wrapper {
    width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 640px;
  width: 700px;
}

.slide:nth-child(1) {
/*  background: #5a92ed;*/
  background-image: url(https://oneclassblog.com/wp-content/uploads/2017/10/food.jpg);
}

.slide:nth-child(2) {
/*  background: #037E8C;*/
  background-image: url(https://www.usnews.com/dims4/USNEWS/307b953/2147483647/thumbnail/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fe6%2F4d%2F24ae69104af8a3325e4ec4323d2b%2F150526-variousfoods-stock.jpg);
    
  
}

.slide:nth-child(3) {
/*  background: #36BF66;*/
  background-image: url( https://az616578.vo.msecnd.net/files/2016/08/09/6360630123516822951123741797_Angel+Food-+High+Res-6766.jpg);
    

}

.slide:nth-child(4) {
   background-image: url(https://foodtank.com/wp-content/uploads/2017/03/Food-Tank-Keri-Glassman-interview.jpg);
}

.slide-number {
  color: #000;
  text-align: center;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
/*footer*/
#footer{
    text-align: center;
}

/*media query*/
/* mobile*/
@media only screen and (min-width: 320px) and (max-width: 479px){
    body{
        text-align: center;
        margin-left: -2em;
    }
    #col2mid h1{
        font-size: 3em;
    }
    #col2outer #col2side{
        display:none;
    }
    #container #col1{
        float:none;
        height: 50%;
        width: 100%;
    }
    #col2outer #col2mid {
        width: 100%;
    }
    #unordered-listdiv{
    height:100px;
    }
    #footer{
        display:none;
    }
    .container{
     height: 100%;
     padding-left: 70px;
     }
 
}


@media only screen and (min-width: 480px) and (max-width: 767px){
    #col2mid h1{
        font-size: 4.5em;
    }
    #container #col1{
        float:none;
        height: 20%;
        width: 100%;
    }
    #unordered-listdiv{
    height:100px;
    }
   #col2outer #col2side{
      width: 20%;
    }
    #col2outer #col2mid {
        height: 100%;
        width: 80%;
        
    }
    #col2mid{
       height: 100%;  
    }
    .container{
        height: 100%;
        padding-left: 20%;
    }
    
    #footer{
        display: none;
    }
    


}



@media only screen and (min-width: 768px) and (max-width: 991px){
    body{
        text-align: center;
        margin-left: -2em;
    }
    #col2mid h1{
        font-size: 4em;
    }
    #footer{
        display: none;
    }
    #col2outer #col2mid {
        height: 100%;
        width: 70%;   
    }
    #container #col1{
        float:none;
        height: 20%;
        width: 100%;
    }
    #unordered-listdiv{
    height:100px;
    }
    #col2outer #col2side{
      width: 30%;
      
    }
    .container{
        height: 100%;
        padding-left: 20%;
    }


}


@media only screen and (min-width: 992px) and (max-width: 1999px){ 
    #col2outer{
        
    }
    
    
    #col2outer #col2mid {
    
         
    }
    #col2outer #col2side{
    
      
    }
    #container #col1{
     
    }
}










